.footer
{
    margin: 20px 0px auto;
   color: aquamarine;
    background-color:#161925 ;
}

.jumbotron
{
    padding: 20px 20px 20px 20px;
    background-color:#23395B ;
    color: aquamarine;
    text-shadow: azure;
}

.content
{
    padding: 20px;
    margin: 10px 50px;
}